body{
	background-color:rgb(1 16 40) ;


}



.navigation-bar{
	width: auto;
	display: flex;
	justify-content: space-between;
	background-color:rgb(1 16 40) ;
	margin-top: 1rem;
	margin-bottom: 2rem;
	position: sticky;
	top: 0;
	z-index: 99;


}



/*left side navbar*/
.left-nav{

	width: 40%;
	display: flex;
	
	justify-content: center;
	align-items: center;
	justify-content: space-around;
	justify-content: flex-start;
}




.logo{
	display: flex;
	margin-right: 5%;



}
.logo h3{
	margin-top: 1rem;
	color: white;

}


.fav h3{
	margin-top: 1rem;
	color: white;

}


.fav{
	width: 80px;
	display: flex;
}


.fav li a{
	text-decoration: none;
	color: white;
	margin-right: 1rem;
	font-size: 1.2rem;
	font-weight: bold;
}

.fav li{
	list-style: none;
	justify-content: space-around;
}








/*****************search box start****************/


/*right side navbar*/

.right-nav{
	width: 60%;
	display: flex;

	align-items: center;

	justify-content: flex-end;



}




.search-box{
	height: 15px;
	border-radius: 2.5rem;
	background-color: white;	
	padding: 0.5rem;
	border: 2px solid black;
	display: flex;
	justify-content: center;
	align-items: center;


}

.search-box form{
	margin: 0;
	display: flex;

}

.search-box input{
	border: none;
	margin: 10px 5px 10px 0px;
	outline: none;
	color: blue;

}

.search-box button{
	background: transparent;
	border: none;

}
/******************** search box end *******************/




/***************** bell icon and profile start ***************/

.bell-icon-login{
	display: flex;


}


.bell-icon i{


	font-size: 1.5rem;
	margin-left: 2rem;
	margin-right: 4rem;
	color: white;
	-webkit-animation: ring 4s .7s ease-in-out infinite;
	-webkit-transform-origin: 50% 4px;
	-moz-animation: ring 4s .7s ease-in-out infinite;
	-moz-transform-origin: 50% 4px;
	animation: ring 4s .7s ease-in-out infinite;
	transform-origin: 50% 4px;
}


@-webkit-keyframes ring {
	0% { -webkit-transform: rotateZ(0); }
	1% { -webkit-transform: rotateZ(30deg); }
	3% { -webkit-transform: rotateZ(-28deg); }
	5% { -webkit-transform: rotateZ(34deg); }
	7% { -webkit-transform: rotateZ(-32deg); }
	9% { -webkit-transform: rotateZ(30deg); }
	11% { -webkit-transform: rotateZ(-28deg); }
	13% { -webkit-transform: rotateZ(26deg); }
	15% { -webkit-transform: rotateZ(-24deg); }
	17% { -webkit-transform: rotateZ(22deg); }
	19% { -webkit-transform: rotateZ(-20deg); }
	21% { -webkit-transform: rotateZ(18deg); }
	23% { -webkit-transform: rotateZ(-16deg); }
	25% { -webkit-transform: rotateZ(14deg); }
	27% { -webkit-transform: rotateZ(-12deg); }
	29% { -webkit-transform: rotateZ(10deg); }
	31% { -webkit-transform: rotateZ(-8deg); }
	33% { -webkit-transform: rotateZ(6deg); }
	35% { -webkit-transform: rotateZ(-4deg); }
	37% { -webkit-transform: rotateZ(2deg); }
	39% { -webkit-transform: rotateZ(-1deg); }
	41% { -webkit-transform: rotateZ(1deg); }

	43% { -webkit-transform: rotateZ(0); }
	100% { -webkit-transform: rotateZ(0); }
}



.profile-picture{

	margin-right: 2rem;
	

	

	
}
.profile-picture img{
	height: 3rem;
	width: 3rem;
	border-radius: 50%;

	
}

/*************** bell icon and profile end ******************/


/***************     main     ***************/


main{

	width: 60%;
	height: auto;
	
	margin-left: 5%;
	display: inline-block;
	margin-bottom: 5rem;




}

.New_Albums{
	width: auto;
	height:250px;

	display: flex;
	justify-content: space-between;
	margin-bottom: 2rem;


}

.New_Albums img{
	height:auto;
	width: 30%;
	border-radius: 5px;
	border-left:2px solid white;
	border-top:2px solid white;


}
.New_Albums img:hover{
	width: 35%;
	transform: scale(1.1);
	border-bottom:2px solid white;
	overflow: hidden;

}

/************************* Section 1 ****************************/

.section-1{

	height:auto;
	width: 100%;
	padding-left: 1rem;


}


.latest-release{
	display: flex;
	align-items: center;


}

.latest-release img{
	width: 4rem;
	height: 4rem;
	margin-right: 0.8rem;
	box-shadow: 0px 0px 2px 2px cyan;
}

.latest-release img:hover{
	transform: scale(1.1);
}

.latest-release, .card{
	display: flex;
	margin-bottom:0.8rem ;

}

.col-1{
	width: 45%;

	margin-right: 1rem;


}




.col-2{
	width: 45%;

	margin-right: 1rem;



}

.descriptive-part {

	width: 12rem;
	justify-content: center;







}

.descriptive-part p{
	color: white;
	padding: 0px;
	margin: 0px;

	
}
.section-1 h3{
	color: white;
}

.like_add {
	display: flex;
	flex-direction: column;
	
}
.like_add p{
	color: white;
}

.like_add i:hover{
	color: red;
}


/****************************Section 2 end***************************/

.section-2{

	width: auto;
	height: auto;
	margin-top: 2rem;
	
	padding-left: 1rem;
	padding-right: 1rem;

}

.popular-artists{
	display: flex;
	border-bottom:2px solid white ;
	justify-content: space-between;



}

.Artist-1{
	height: 90%;
	width: 90%;
	margin-left: 1rem;

	

	
}
.Artist-1 img:hover{
	transform: translateY(-5px);

}



.Artist-1 img{
	
	height: 5rem;
	width: 5rem;
	border-radius: 50%;
	box-shadow: 0px 0px 5px 5px cyan;
	margin-left: 0.5rem;


}
.Artist-1 p{
	text-align: center;
	color: white;


}
a, .name p{
	text-decoration: none;

}
.section-2 h3{
	color: white;
}


/********************************************/





/******** Stations Start  *************/
.Stations{

	display: flex;
	width: 100%;
	height: auto;
	border: 2px solid black;
	margin-top: 2rem;
	background-color: #2e2e4e;
	justify-content: center;
	align-items: center;

}

.Stations-1{
	height:auto;
	width: 20%;
	display: flex;
	align-items: center;



}

.st-1{

	height: auto ;
	width: 6rem;
	text-align: center;
	display: flex;
}

.Stations-2{
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: space-between;

	

}





.Stations-2 h5{
	text-align: center;


}

/******************************************************/










/**********************Station Start***************************/


.ms{

	height: 5rem;
	width: 5rem;
	border: 2px solid green;
	border-radius: 50%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;

}

.ms-1{
	height: 5rem;
	width: 5rem;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ff420a;

}

.ms-2{
	width: 100%;
	display: flex;
	justify-content: space-around;


}

.half-1{
	width:20%;
	display: flex;
	justify-content: center;

}

.Love{
	height: 4rem;
	width: 4rem;
	background-image: url(media1/music_themes/love.jpg);
	background-size: cover;
	box-shadow: 0px 0px 2px 2px white;


}
.Romantic{
	height: 4rem;
	width: 4rem;
	background-image: url(media1/music_themes/romantic.jpeg);
	background-size: cover;
	box-shadow: 0px 0px 2px 2px white
}
.Retro{
	height: 4rem;
	width: 4rem;
	background-image: url(media1/music_themes/retro.jpg);
	background-size: cover;
	box-shadow: 0px 0px 2px 2px white
}
.Workout{
	height: 4rem;
	width: 4rem;
	background-image: url(media1/music_themes/workout.jpg);
	background-size: cover;
	box-shadow: 0px 0px 2px 2px white
}
.Pop{
	height: 4rem;
	width: 4rem;
	background-image: url(media1/music_themes/pop.jpg);
	background-size: cover;
	box-shadow: 0px 0px 2px 2px white
}
/***********************Stations end***************************/






/*****************Animation and transition on  **************/

.Music_type{
	height: 20vh;
	display: flex;
	justify-content: space-around;
	margin-top: 2rem;
}

.type{
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 1.5rem;
	font-weight: bolder;}




	.Party{
		height: auto;
		width: 30%;
		border: 1px solid black;
		background-image: url(media1/music_themes_2/party.jpg);
		background-size: cover;
		opacity: 0.8;
		background-position:center;
		-webkit-transition: all .5s ease;
		-moz-transition: all .5s ease;
		-ms-transition: all .5s ease;
		-o-transition: all .5s ease;
		transition: all .5s ease;

	}
	.Electronic{
		height: auto;
		width: 30%;
		border: 1px solid black;
		background-image: url(media1/music_themes_2/electronic.jpg);
		background-size: cover;
		opacity: 0.8;
		background-position:center;
		-webkit-transition: all .5s ease;
		-moz-transition: all .5s ease;
		-ms-transition: all .5s ease;
		-o-transition: all .5s ease;
		transition: all .5s ease;
	}
	.Road-Trip{
		height: auto;
		width: 30%;
		border: 1px solid black;
		background-image: url(media1/music_themes_2/road.jpg);
		background-size: cover;
		opacity: 0.8;
		background-position:center;
		-webkit-transition: all .5s ease;
		-moz-transition: all .5s ease;
		-ms-transition: all .5s ease;
		-o-transition: all .5s ease;
		transition: all .5s ease;
	}


	.Music_type_Hover:hover{

		-webkit-transform: scale(1.2);
		-moz-transform: scale(1.2);
		-o-transform: scale(1.2);
		-ms-transform: scale(1.2); /* IE 9 */ 
		transform: scale(1.2);
		opacity: unset;

	}

/*****************************************************/








/****************latest hindi Start ***********************/


.latest-hindi{
	margin-top: 2rem;
	display: flex;
	justify-content: space-around;

}

.lt{
	text-align: center;

}

.lt img{
	height: 7rem;
	width: 7rem;
	box-shadow: 0px 5px 10px 0px rgba(0,255,255,0.7);    /*bax-shadow*/

}

.lt img:hover{
	transform: translateY(-5px);
	box-shadow: 0px 10px 20px 2px rgba(0,255,255,0.7); /*bax-shadow after hover*/

}
/******************** latest hindi end***************************/





/******************** latest english start***************************/

.latest-English{
	

	margin-top: 2rem;
	display: flex;
	justify-content: space-around;

}

.lt p{
	color: white;

}

.sect-1, .sect-2  h3{
	color: white;
}

/**********************latest english start********************/






/************************** Aside-Section *********************/

aside{
	margin-top: 2rem;
	width: 25%;	
	height: auto;
	display: inline-block;
	vertical-align: top;
	margin-left: 3rem;

}




/***aside section div parent*/
.music{
	width: 100%;
	height: 4rem;
	display: flex;
	justify-content: space-between;
	
}



/***aside section div child*/
.music-edit{

	display: flex;
	align-items: center;
	width: 100%;
	height: auto;

} 



.similar-artist{
	
	margin-bottom: 2rem;

}



.Recently-Played{
	margin-bottom: 2rem;

}




/*adding white color to  hear icons*/

.like_add i{
	color: white;

}




.heading-similar-artist{

	display: flex;
	justify-content: space-between;
}

.heading-similar-artist h5,h4{
	color: white;
}



.similar-song img{

	height: 3rem;
	width: 3rem;
	box-shadow: 0px 0px 2px 2px cyan;
	

}
.song_heading h5, h6{
	color: white;
	margin-left: 0.5rem;
}


/**********************Footer************************/


/* Footer section starts here*/
/* this is the container for the whole footer */
footer {
	position: fixed;
	bottom: 1px;
	width: 100%;
	height: 60px;
	background-color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	flex-wrap: nowrap;
	padding: 0px 3%;
	box-sizing: border-box;
	z-index: 6;
}
/* footer is divided into 3 parts */
/* 1. first part of the footer */
.active-song-description {
	/* border:1px solid white; */
	height: 90%;
	width: 25%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
/* the current song which is being played, this is the image container for that. */
#song-image {
	width: 50px;
	height: 50px;
	min-width: 50px;
	min-height: 50px;
}
/* current song image */
#song-image img {
	width: 100%;
	height: 100%;
}
/* heart and ban icon */
.heart-and-ban-icon {
	height: 100%;
	padding-top: 4%;
}
/* song decscription */
.song-desc {
	margin-right: 1%;
	margin-left: 1%;
}
/* song name */
.song-desc div:nth-child(1) {
	font-size: 14px;
}
/* song author */
.song-desc div:nth-child(2) {
	font-size: 12px;
}

/* 2. Second part of the footer*/
.player {
	width: 45%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
}
/* controls is the container for all the center controls of the player */
.controls {
	width: 40%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-size: 20px;
}
/* this is the song-duration slider */
#slider {
	width: 100%;
	font-size: 12px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	margin-top: 5px;
}
/* ////////// */
.time {
	margin: 0px 10px;
}

/* adjusting the slider for better visuals */
.slidecontainer {
	width: 100%;
}

/* for audio and main center player */
.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 5px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.5;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
}

/* hover effect for the slider */
.slider:hover {
	opacity: 1;
}

/* these are for adjusting the dimensions and default styling of the long-slider */
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 17px;
	height: 17px;
	border-radius: 50%;
	background: #007bff;
	cursor: pointer;
}

/* this is the circular thumb, which can be moved across the div */
.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #4caf50;
	cursor: pointer;
}

/* third part of the footer */
/* this contains the extra icons and slider for volume */
/* this is also a container */
.extras {
	width: 20%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

/***************************************************************************/







/***********sidebar animation******************/


#Add-in-Queue{
	height: 0px;
	width: 0px;
	position: absolute;
	top: 60%;
	left: 30%;
	overflow: hidden;
	transition:  all 1s ease-in-out;
	padding-left: 1rem;


}


#Add-in-Queue:target{
	height:20%;
	width:10%;
	top: 60%;
	left: 30%;
	background-color: white;

}







